*{
    margin: 0;
    padding: 0;
}
.container-full{
    max-width: 100%;
    
}

header{
    position: fixed;
    width:100%;
    z-index: 1;
    font-family: "Roboto";
    
}


.container{
    max-width: 1200px;
    margin: auto;
   
    
}

.content{
    background-color: red;
    position: relative;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    
   
}
.row-h{
    display:flex;
    flex-wrap: wrap;
    
    
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}

.col-30{
    width: calc(100% / 3);
    height: 50px;
    display: flex;

}

.col-33{
    width: calc(100% / 3);
}

.content-logo{
    align-content: center;
    color: white;
    padding-left: 100px;

}
.content-gender{
    align-content: center;
    color: white;
    padding-left: 100px;

}
.content-icon{
    align-content: center;
    color: white;
    padding-left: 120px;


}
.bg-orange{
    background-color:#FF6900;
}
ul{
    list-style: none;
    
}
li{
    display: inline-block;
    color: white;
    font-weight:500;
    font-size: 15px;
    
}
.logo{
    height: 20px;
    width: 100px;
}