*{
    margin: 0;
    padding: 0;
}
.container-full{
    max-width: 100%;
    margin: auto;
    font-family: "roboto";
    
}

header{
    width:100%;
    margin-bottom: 100px;
    
}
main{
    font-family: "Roboto";
}


.container{
    max-width: 1200px;
    margin: auto;
    
   
    
}

.content{
    position: relative;
    width: 380px;

    
   
}

.content-img{
    width: 100%;


}
.label{
    color: white;
    padding: 2px;
    position: absolute;
    bottom: 100px;
    right: 240px;


}

.label-1{
    color: white;
    padding: 2px;
    position: absolute;
    bottom: 100px;
    left: 2px;
}

.hearts{
    position:absolute;
    top:10px;
    right: 2px;
    background-color: white;
    padding: 10px;
    
    
}
.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}
.row-h{
    display:flex;
    flex-wrap: wrap;

    
    
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}

.col-30{
    width: calc(100% / 3);
    height: 50px;
    display: flex;

}

.col-33{
    width: calc(100% / 3);
}

.content-logo{
    align-content: center;
    color: white;
    padding-left: 100px;

}
.content-gender{
    align-content: center;
    color: white;
    padding-left: 100px;

}
.content-icon{
    align-content: center;
    color: white;
    padding-left: 120px;


}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.content:hover .d-block{
    display: none;
}
.content:hover .d-none{
    display: block;
}
.bg-orange{
    background-color:#FF6900;
}
ul{
    list-style: none;
    
}
li{
    display: inline-block;
    color: white;
    font-weight:500;
    font-size: 15px;
    
}
.logo{
    height: 20px;
    width: 100px;
}
.brand{
    color: grey;
}
.price{
    color: red;
}
#discount{
    color: grey;
    text-decoration:line-through
}